@font-face {
    font-family: 'GenshinFont';
    src: url('/static/ttf/zh-cn.ttf') format('truetype');
}

.artifacts-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr); /* Create 5 columns */
    gap: 20px;
    padding: 20px;
    margin: auto;
    max-width: 1200px;
}

.artifact-card {
    background: rgba(0, 0, 0, 0.6);
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    color: #fff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.artifact-card:hover {
    transform: scale(1.05);
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.4);
}

.artifact-image {
    width: 100%; /* L'image occupe toute la largeur de la carte */
    height: auto; /* Garde le ratio d'aspect */
    border-radius: 8px; /* Coins arrondis pour l'image */
    margin-bottom: 15px; /* Espace avec le texte */
}

.artifact-name {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
}

.artifact-rarity, .artifact-bonus {
    font-size: 16px;
    margin-bottom: 8px;
}

.switch-Page {
    text-align: center;
    margin: 20px auto;
}
/* Pagination buttons */
.switch-Page a {
    display: inline-block;
    padding: 10px 15px;
    margin: 0 5px;
    text-decoration: none;
    color: #007bff;
    border: 1px solid #007bff;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
}

.switch-Page a:hover {
    background-color: #007bff;
    color: #fff;
}

/* Disabled button styling */
.switch-Page a[disabled] {
    pointer-events: none;
    color: #aaa;
    border-color: #aaa;
    background-color: #f9f9f9;
}

/* Current page styling */
.switch-Page span {
    display: inline-block;
    padding: 10px 15px;
    margin: 0 5px;
    color: #fff;
    background-color: #007bff;
    border-radius: 5px;
    font-weight: bold;
}