@font-face {
    font-family: 'GenshinFont';
    src: url('/static/ttf/zh-cn.ttf') format('truetype');
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-image: url('/static/image/background.webp');
    background-size: cover;
    background-attachment: fixed; /* Prevent background movement */
    background-position: center; 
    color: #E1E1E1;
    font-family: 'GenshinFont', sans-serif;
    margin: 0;
    padding: 0;
}

.header {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 68px;
    padding: 10px 40px;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
}

.header img {
    width: 64%;
    border-radius: 8px;
}

.navbar a {
    position: relative;
    font-size: 18px;
    color: white;
    font-weight: 500;
    text-decoration: none;
    margin-left: 60px;
}

.navbar a::before {
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    width: 0;
    height: 2px;
    background: white;
    transition: .3s;
}

.navbar a:hover::before {
    width: 100%;
}

.artifacts-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr); /* Create 5 columns */
    gap: 20px;
    padding: 20px;
    margin: auto;
    max-width: 1200px;
}

.artifact-card {
    background: rgba(0, 0, 0, 0.6);
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    color: #fff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.artifact-card:hover {
    transform: scale(1.05);
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.4);
}

.artifact-image {
    width: 100%; /* L'image occupe toute la largeur de la carte */
    height: auto; /* Garde le ratio d'aspect */
    border-radius: 8px; /* Coins arrondis pour l'image */
    margin-bottom: 15px; /* Espace avec le texte */
}

.artifact-name {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
}

.artifact-rarity, .artifact-bonus {
    font-size: 16px;
    margin-bottom: 8px;
}