@font-face {
    font-family: 'GenshinFont';
    src: url('/static/ttf/zh-cn.ttf') format('truetype');
}

.container {
    position: absolute;
    background: rgba(0, 0, 0, 0.6);
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    color: #fff;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    width: 1300px;
    top: 10%;
    gap: 50px;
}

.introduction {
    align-content: center;
    background-color: rgba(184, 0, 205, 0.7);
    border-radius: 30px;
    max-width: 400px;
    max-height: 1000px;
}

.introduction h1{
    color: aquamarine;
}

.introduction h2, h3, p{
    color: black;
}

.skill-talents {
    align-content: center;
    background-color: rgba(200, 200, 200, 0.7);
    border-radius: 30px;
    max-width: 400px;
    max-height: 1000px;
}

.skill-talents h2{
    color: blueviolet;
}

.skill-talents h3, h4 {
    color: aliceblue;
}

.passive-talents {
    background: rgba(100, 100, 100, 0.7);
    border-radius: 30px;
    max-width: 400px;
    max-height: 1000px;
    align-items: center;
    color: hotpink;
}

.constellations {
    background: rgba(248, 3, 3, 0.7);
    border-radius: 30px;
    max-width: 400px;
    max-height: 1000px;
    align-items: center;
    color: rgb(12, 209, 75);
}

.ascension-materials {
    background: rgba(232, 248, 3, 0.7);
    border-radius: 30px;
    max-width: 400px;
    max-height: 1000px;
    align-items: center;
    color: rgb(209, 12, 114);
}