@font-face {
    font-family: 'GenshinFont';
    src: url('/static/ttf/zh-cn.ttf') format('truetype');
}

.domain-card {
    background: rgba(0, 0, 0, 0.6);
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    color: #fff;
}


.domain-card h1 {
    color: #FFD700;
    margin-bottom: 10px;
    font-size: 18px;
}

.domain-card img {
    width: 35%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 15px;
}