@font-face {
    font-family: 'GenshinFont';
    src: url('/static/ttf/zh-cn.ttf') format('truetype');
}

.element-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* Create 5 columns */
    gap: 20px;
    padding: 20px;
    margin: auto;
    max-width: 1200px;/* Pour s'assurer que les cartes s'alignent correctement */
}

.element-card {
    background: rgba(0, 0, 0, 0.6);
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    color: #fff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.element-card:hover {
    transform: scale(1.05);
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.4);
}

.element-card h1 {
    color: #FFD700;
    margin-bottom: 10px;
    font-size: 18px;
}

.element-card img {
    width: 100%; /* L'image occupe toute la largeur de la carte */
    height: auto; /* Garde le ratio d'aspect */
    border-radius: 8px; /* Coins arrondis pour l'image */
    margin-bottom: 15px; /* Espace avec le texte */
}