@font-face {
    font-family: 'GenshinFont';
    src: url('/static/ttf/zh-cn.ttf') format('truetype');
}

.element-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* Create 5 columns */
    gap: 20px;
    padding: 20px;
    margin: auto;
    max-width: 1200px;/* Pour s'assurer que les cartes s'alignent correctement */
}

.element-card {
    background: rgba(0, 0, 0, 0.6);
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    color: #fff;
}

.element-card h1 {
    color: #FFD700;
    margin-bottom: 10px;
    font-size: 18px;
}

.element-card h2 {
    color: #4acfff;
    margin-bottom: 10px;
    font-size: 18px;
}

.element-card h3 {
    color: #ff0033;
    margin-bottom: 10px;
    font-size: 18px;
}

.element-card p, h4 {
    color: #ffffff;
    margin-bottom: 10px;
    font-size: 18px;
}

.element-card img {
    width: 6%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 15px;
}