@font-face {
    font-family: 'GenshinFont';
    src: url('/static/ttf/zh-cn.ttf') format('truetype');
}

body {
    margin: 0;
    padding: 0;
    font-family: 'GenshinFont';
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
    background-image: url("/static/image/backgroundloading.png");
    background-size: cover;
    color: #f8f9fa;
}

h1 {
    font-size: 2.5rem;
    text-align: center;
    margin-top: auto;
}

.gradient-text {
    font-size: 3rem;
    font-weight: bold;
    background: linear-gradient(to right, #5fa7ff, #ff3838); /* Dégradé bleu -> rouge */
    -webkit-background-clip: text; /* Applique le dégradé uniquement au texte (Webkit) */
    background-clip: text; /* Version standard pour compatibilité */
    -webkit-text-fill-color: transparent; /* Rend le fond du texte transparent */
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5); /* Optionnel : ajoute une ombre subtile */
}
  

.progress-container {
    position: absolute;
    width: 100%; /* Prend toute la largeur */
    display: flex;
    justify-content: center; /* Centre la barre horizontalement */
    bottom: 20%;
}

progress {
    width: 620px;
    height: 25px;
    appearance: none;
    -webkit-appearance: none;
    border: none;
    border-radius: 12px;
    background-color: #4a5568; /* Couleur neutre pour le fond */
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

progress::-webkit-progress-bar {
    background-color:#4a5568;
    border-radius: 12px;
}

progress::-webkit-progress-value {
    background: linear-gradient(90deg, #08106e, #a2160c);
    border-radius: 12px;
    box-shadow: 0 0 10px #08106e;
    transition: width 0.4s ease;
}

progress::-moz-progress-bar {
    background: linear-gradient(90deg, #08106e, #a2160c);
    border-radius: 12px;
    box-shadow: 0 0 10px #08106e;
    transition: width 0.4s ease;
}
