{{define "artifacts"}}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="/static/css/artifacts.css">
    <link rel="icon" href="/static/favicon.ico" type="image/x-icon">
    <title>Genshin Impact - Artifacts</title>
</head>
<body>
    <header class="header">
        {{if eq .IsLogin true}}
            {{template "navbar2"}}
        {{else}}
            {{template "navbar1"}}
        {{end}}
    </header>

    <h1 class="page-title">Artifacts</h1>
    
    <button id="openMenuButton">Filter Artifacts</button>
    <div id="overlay"></div>

    <div id="filterMenu">
        <form id="filterForm">
            <h4>Rarity</h4>
            <div class="filter-group">
                <label>
                    <input type="checkbox" name="rarity_filter" value="3"> 3
                </label>
                <label>
                    <input type="checkbox" name="rarity_filter" value="4"> 4
                </label>
                <label>
                    <input type="checkbox" name="rarity_filter" value="5"> 5
                </label>
            </div>
            <h4>Sort by</h4>
            <div class="filter-group">
                <label>
                    <input type="radio" name="sort_filter" value="az"> A-Z
                </label>
                <label>
                    <input type="radio" name="sort_filter" value="za"> Z-A
                </label>
            </div>

            <div class="buttons">
                <button type="button" id="resetFiltersButton">Réinitialiser</button>
                <button type="button" id="applyFiltersButton">Appliquer</button>
            </div>
        </form>
    </div>

    <script src="/static/js/artifacts.js"></script>
    <div class="artifacts-container">
        {{range .Data}}
            <div class="artifact-card">
                <a href="/artifacts/details?id={{.Id}}">
                    <h1 class="artifact-name">{{.Name}}</h1>
                    <h2 class="artifact-rarity">{{.MaxRarity}}</h2>
                    <img src="{{.ImageURL}}" alt="{{.Name}}" class="artifact-image">
                </a>
                <div class="add-collection">
                    <a href="/add-to-collection?type=artifact&id={{.Id}}">Add to Collection</a>
                </div>
            </div>
        {{end}}
    </div>
    <div class="switch-Page">
        {{if gt .CurrentPage 1}}
        <a href="?page={{sub .CurrentPage 1}}">Previous</a>
        {{end}}
        <span>Page {{.CurrentPage}} of {{.TotalPages}}</span>
        {{if lt .CurrentPage .TotalPages}}
        <a href="?page={{add .CurrentPage 1}}">Next</a>
        {{end}}
    </div>
    {{template "footer"}}
</body>
</html>
{{end}}
