{{define "artifacts"}}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="/static/css/artifacts.css">
    <title>Genshin</title>
</head>
<body>
    <header class="header">
        {{template "navbar"}}
    </header>
    <main class="artifacts-container">
        {{range .Data}}
            <a href="/artifacts/details?id={{.Id}}">
                <div class="artifact-card">
                    <h1 class="artifact-name">Name: {{.Name}}</h1>
                    <h2 class="artifact-rarity">Max Rarity: {{.MaxRarity}}</h2>
                    <img src="{{.ImageURL}}" alt="{{.Name}}" class="artifact-image">
                </div>
            </a>
        {{end}}
    </main>
</body>
</html>
{{end}}
