{{define "boss"}}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="/static/css/boss.css">
    <title>Document</title>
</head>
<body>
    <header class="header">
        {{template "navbar"}}
    </header>
    <div class="boss-list">
        {{range .Data}}
            <a href="/boss/details?id={{.Id}}">
                <div class="boss-card ">
                    <h1>Name : {{.Name}}</h1>
                    <img src="{{.ImageURL}}">
                </div>
            </a>
        {{end}}
    </div>
</body>
</html>
{{end}}