{{define "bossDetails"}}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="/static/css/bossDetails.css">
    <title>Document</title>
</head>
<body>
    <header class="header">
        {{template "navbar"}}
    </header>
        <div class="boss-card ">
            <h1>Name : {{.Name}}</h1>
            <img src="{{.ImageURL}}">
            <h2>Description</h2>
            <p>{{.Description}}</p>
            <h2>Possible drops</h2>
            {{range .Drops}}
                <h3>{{.Name}}</h3>
                <h4>Rarity : {{.Rarity}}</h4>
                <h4>Source : {{.Source}}</h4>
            {{end}}
            <h2>Possible Artifact(s)</h2>
            {{range .Artifacts}}
                <h3>{{.Name}}</h3>
                <h4>Maximum Rarity : {{.MaxRarity}}</h4>
            {{end}}
        </div>
</body>
</html>
{{end}}