{{define "characters"}}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/static/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="/static/css/character.css">
    <title>Document</title>
</head>
<body>
    <header class="header">
        {{if eq .IsLogin true}}
            {{template "navbar2"}}
        {{else}}
            {{template "navbar1"}}
        {{end}}
    </header>

    <button id="openMenuButton">
        <i class="fas fa-filter"></i> Filtres
    </button>

    <div id="overlay"></div>

    <div id="filterMenu">
        <form id="filterForm">
            <h4>Gender</h4>
            <div class="filter-group">
                <label>
                    <input type="checkbox" name="gender_filter" value="male"> Male
                </label>
                <label>
                    <input type="checkbox" name="gender_filter" value="female"> Female
                </label>
            </div>

            <h4>Nations</h4>
            <div class="filter-group">
                <label>
                    <input type="checkbox" name="nations_filter" value="Mondstadt"> Mondstat
                </label>
                <label>
                    <input type="checkbox" name="nations_filter" value="Fontaine"> Fontaine
                </label>
                <label>
                    <input type="checkbox" name="nations_filter" value="Inazuma"> Inazuma
                </label>
                <label>
                    <input type="checkbox" name="nations_filter" value="Liyue"> Liyue
                </label>
                <label>
                    <input type="checkbox" name="nations_filter" value="Natlan"> Natlan
                </label>
                <label>
                    <input type="checkbox" name="nations_filter" value="Sumeru"> Sumeru
                </label>
                <label>
                    <input type="checkbox" name="nations_filter" value="Snezhnaya"> Snezhnaya
                </label>
            </div>

            <h4>Rarity</h4>
            <div class="filter-group">
                <label>
                    <input type="checkbox" name="rarity_filter" value="5"> Rarity 5
                </label>
                <label>
                    <input type="checkbox" name="rarity_filter" value="4"> Rarity 4
                </label>
            </div>

            <h4>Element</h4>
            <div class="filter-group">
                <label>
                    <input type="checkbox" name="elements_filter" value="Geo"> Geo
                </label>
                <label>
                    <input type="checkbox" name="elements_filter" value="Electro"> Electro
                </label>
                <label>
                    <input type="checkbox" name="elements_filter" value="Hydro"> Hydro
                </label>
                <label>
                    <input type="checkbox" name="elements_filter" value="Pyro"> Pyro
                </label>
                <label>
                    <input type="checkbox" name="elements_filter" value="Dendro"> Dendro
                </label>
                <label>
                    <input type="checkbox" name="elements_filter" value="Anemo"> Anemo
                </label>
                <label>
                    <input type="checkbox" name="elements_filter" value="Cryo"> Cryo
                </label>
            </div>
            <h4>Sort by</h4>
            <div class="filter-group">
                <label>
                    <input type="radio" name="sort_filter" value="az"> A-Z
                </label>
                <label>
                    <input type="radio" name="sort_filter" value="za"> Z-A
                </label>
                <label>
                    <input type="radio" name="sort_filter" value="recent"> Most recent release date
                </label>
                <label>
                    <input type="radio" name="sort_filter" value="oldest"> Most oldest release date
                </label>
            </div>

            <div class="buttons">
                <button type="button" id="resetFiltersButton">Réinitialiser</button>
                <button type="button" id="applyFiltersButton">Appliquer</button>
            </div>
        </form>
    </div>

    <script src="/static/js/characters.js"></script>

    <h1 class="page-title">Characters</h1>

    <div class="character-list">
        {{range .Data}}
            <div class="character-card" data-vision="{{.Vision}}">
                <a href="/characters/details?id={{.Id}}">
                    <h1>{{.Name}}</h1>
                    <div class="character-vision">{{.Vision}}</div>
                    <div class="character-image-container">
                        <img src="{{.ImageUrl}}" alt="{{.Name}}">
                    </div>
                </a>
                <a href="/add-to-collection?type=character&id={{.Id}}" class="collection-btn">
                    <span class="btn-text">Add to collections</span>
                </a>
            </div>
        {{end}}
    </div>
    <div class="switch-Page">
        {{if gt .CurrentPage 1}}
        <a href="?page={{sub .CurrentPage 1}}">Previous</a>
        {{end}}
        <span>Page {{.CurrentPage}} of {{.TotalPages}}</span>
        {{if lt .CurrentPage .TotalPages}}
        <a href="?page={{add .CurrentPage 1}}">Next</a>
        {{end}}
    </div>
    {{template "footer"}}
</body>
</html>
{{end}}