{{define "characterDetails"}}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="/static/css/characterDetails.css">
    <link rel="icon" href="/static/favicon.ico" type="image/x-icon">
    <title>Document</title>
</head>
<body>
    <header class="header">
        {{if eq .IsLogin true}}
            {{template "navbar2"}}
        {{else}}
            {{template "navbar1"}}
        {{end}}
    </header>
    <div class="container">
        <h1>Name : {{.Data.Name}}</h1>
        <div class="introduction">
            <h1>Title : {{.Data.Title}}</h1>
            <h2>Vision : {{.Data.Vision}}</h2>
            <h3>Weapon : {{.Data.Weapon}}</h3>
            <h3>Gender : {{.Data.Gender}}</h3>
            <h3>Nation : {{.Data.Nation}}</h3>
            <h3>Affiliation : {{.Data.Affiliation}}</h3>
            <h3>Rarity : {{.Data.Rarity}}</h3>
            <h3>Release : {{.Data.Release}}</h3>
            <h3>Constellation : {{.Data.Constellation}}</h3>
            <h3>Birthday : {{.Data.Birthday}}</h3>
            <h3>Vision Key : {{.Data.VisionKey}}</h3>
            <h3>Weapon Type : {{.Data.WeaponType}}</h3>
            <p>{{.Data.Description}}</p>
        </div>
        <div class="skill-talents">
            <h2>Skill talents : </h2>
            {{range .Data.SkillTalents}}
                <h4>Name : {{.Name}}</h4>
                <h4>Unlock : {{.Unlock}}</h4>
                <h4>Description : {{.Description}}</h4>
                <h3>Upgrades : </h3>
                {{range .Upgrades}}
                    <h5>Name : {{.Name}}</h5>
                    <h5>Value : {{.Value}}</h5>
                {{end}}
                <h4>Type : {{.Type}}</h4>
                <h3>Atribute scaling</h3>
                {{range .AttributeScaling}}
                    <h5>Name : {{.Name}}</h5>
                    <h5>Value : {{.Value}}</h5>
                {{end}}
            {{end}}
        </div>
        <div class="passive-talents">
            <h2>Passive talents</h2>
            {{range .Data.PassiveTalents}}
                <h4>Name : {{.Name}}</h4>
                <h4>Unlock : {{.Unlock}}</h4>
                <h4>Description : {{.Description}}</h4>
                <h4>Level : {{.Level}}</h4>
            {{end}}
        </div>
        <div class="constellations">
            <h2>Constellations : </h2>
            {{range .Data.Constellations}}
                <h4>Name : {{.Name}}</h4>
                <h4>Unlock : {{.Unlock}}</h4>
                <h4>Description : {{.Description}}</h4>
                <h4>Level : {{.Level}}</h4>
            {{end}}
        </div>
        <div class="ascension-materials">
            <h2>Ascension Materials :</h2>
            <select id="materials">
                {{range .Data.AscensionMaterials.Level20}}
                <option value="1" data-Name="{{.Name}}" data-Value="{{.Value}}">Level 20</option>
                {{end}}
                {{range .Data.AscensionMaterials.Level40}}
                <option value="2" data-Name="{{.Name}}" data-Value="{{.Value}}">Level 40</option>
                {{end}}
                {{range .Data.AscensionMaterials.Level50}}
                <option value="3" data-Name="{{.Name}}" data-Value="{{.Value}}">Level 50</option>
                {{end}}
                {{range .Data.AscensionMaterials.Level60}}
                <option value="4" data-Name="{{.Name}}" data-Value="{{.Value}}">Level 60</option>
                {{end}}
                {{range .Data.AscensionMaterials.Level70}}
                <option value="5" data-Name="{{.Name}}" data-Value="{{.Value}}">Level 70</option>
                {{end}}
                {{range .Data.AscensionMaterials.Level80}}
                <option value="6" data-Name="{{.Name}}" data-Value="{{.Value}}">Level 80</option>
                {{end}}
            </select>
            <div id="output-container">
                <h4 id="output-heading"></h4>
                <p id="output-paragraph"></p>
            </div>
        </div>
    </div>
    <script>
        // Get references to the dropdown, heading, and paragraph elements
        const selectElement = document.getElementById("materials");
        const outputHeading = document.getElementById("output-heading");
        const outputParagraph = document.getElementById("output-paragraph");

        // Add an event listener for when the selection changes
        selectElement.addEventListener("change", function () {
        // Get the selected option
        const selectedOption = selectElement.options[selectElement.selectedIndex];

        // Retrieve the data attributes from the selected option
        const name = selectedOption.getAttribute("data-Name");
        const value = selectedOption.getAttribute("data-Value");

        // Update the heading and paragraph with the selected data
        if (name && value) {
            outputHeading.textContent = `Name: ${name}`;
            outputParagraph.textContent = `Value: ${value}`;
        } else {
            outputHeading.textContent = "";
            outputParagraph.textContent = "Please select a valid option.";
        }
        });
      </script>
</body>
</html>
{{end}}