{{define "enemies"}}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="/static/css/enemies.css">
    <link rel="icon" href="/static/favicon.ico" type="image/x-icon">
    <title>Genshin</title>
</head>
<body>
    <header class="header">
        {{if eq .IsLogin true}}
            {{template "navbar2"}}
        {{else}}
            {{template "navbar1"}}
        {{end}}
    </header>
    <div class="enemies-container">
        {{range .Data}}
            <a href="/enemies/details?id={{.Id}}">
                <div class="enemies-card">
                    <h1>Name : {{.Name}}</h1>
                    <img src="{{.ImageUrl}}" alt="">
                </div>
            </a>
        {{end}}
    </div>
</body>
</html>
{{end}}