{{define "enemies"}}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="/static/css/enemies.css">
    <link rel="icon" href="/static/favicon.ico" type="image/x-icon">
    <title>Genshin Impact - Enemies</title>
</head>
<body>
    <header class="header">
        {{if eq .IsLogin true}}
            {{template "navbar2"}}
        {{else}}
            {{template "navbar1"}}
        {{end}}
    </header>

    <h1 class="page-title">Enemies</h1>

    <div class="enemies-container">
        {{range .Data}}
            <div class="enemies-card">
                <div class="enemy-info">
                    <h2 class="enemy-name">{{.Name}}</h2>
                </div>
                <a href="/enemies/details?id={{.Id}}" class="enemy-link">
                    <div class="enemy-image-container">
                        <img src="{{.ImageUrl}}" alt="{{.Name}}" class="enemy-image">
                    </div>
                </a>
                <div class="add-collection">
                    <a href="/add-to-collection?type=enemie&id={{.Id}}">Add to Collection</a>
                </div>
            </div>
        {{end}}
    </div>
    {{template "footer"}}
</body>
</html>
{{end}}