{{define "ErrorCode"}}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/static/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="/static/css/errorCode.css">
    <title>{{.Titre}}</title>
</head>
<body>
    <header class="header">
        {{if eq .IsLogin true}}
            {{template "navbar2"}}
        {{else}}
            {{template "navbar1"}}
        {{end}}
    </header>
    <div class="error-container">
        <h1>{{.Code}}</h1>
        <div class="error-code">{{.ErrorTitle}}</div>
        <p class="error-message">{{.Message}}</p>
        <a href="/home" class="home-button">Return to Home</a>
    </div>
    {{template "footer"}}
</body>
</html>
{{end}}
