{{define "food"}}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dishes</title>
    <link rel="icon" href="/static/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
    <header class="header">
        {{if eq .IsLogin true}}
            {{template "navbar2"}}
        {{else}}
            {{template "navbar1"}}
        {{end}}
    </header>
        {{range .Data}}
        <tr>
            <h1>{{.Name}}</h1>
            <h1>{{.Rarity}}</h1>
            <h1>{{.Type}}</h1>
            <h1>{{.Effect}}</h1>
            <h1>
                {{if .HasRecipe}}
                <ul>
                    {{range .Recipe}}
                    <li>{{.Quantity}} x {{.Item}}</li>
                    {{end}}
                </ul>
                {{else}}
                <em>No recipe available</em>
                {{end}}
            </h1>
            <h1>{{.Description}}</h1>
        </tr>
        {{end}}
</body>
</html>
{{end}}