{{define "home"}}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="/static/css/home.css">
    <link rel="icon" href="/static/favicon.ico" type="image/x-icon">
    <title>Genshin Impact - Home</title>
</head>
<body>
    <header class="header">
        {{if eq .IsLogin true}}
            {{template "navbar2"}}
        {{else}}
            {{template "navbar1"}}
        {{end}}
    </header>

    <h1 class="page-title">Welcome to Genshin Impact Database</h1>

    <div class="container">
        <div class="album-list">
            <div class="album-card">
                <a href="/characters">
                    <h3>Characters</h3>
                    <div class="image-container">
                        <img src="/static/image/character.jpeg" alt="Characters">
                        <div class="image-overlay"></div>
                    </div>
                </a>
            </div>
            <div class="album-card">
                <a href="/artifacts">
                    <h3>Artifacts</h3>
                    <div class="image-container">
                        <img src="/static/image/artifact.avif" alt="Artifacts">
                        <div class="image-overlay"></div>
                    </div>
                </a>
            </div>
            <div class="album-card">
                <a href="/elements">
                    <h3>Elements</h3>
                    <div class="image-container">
                        <img src="/static/image/element.webp" alt="Elements">
                        <div class="image-overlay"></div>
                    </div>
                </a>
            </div>
            <div class="album-card">
                <a href="/boss">
                    <h3>Boss</h3>
                    <div class="image-container">
                        <img src="/static/image/boss.jpg" alt="Boss">
                        <div class="image-overlay"></div>
                    </div>
                </a>
            </div>
            <div class="album-card">
                <a href="/domains">
                    <h3>Domains</h3>
                    <div class="image-container">
                        <img src="/static/image/domain.webp" alt="Domains">
                        <div class="image-overlay"></div>
                    </div>
                </a>
            </div>
            <div class="album-card">
                <a href="/enemies">
                    <h3>Enemies</h3>
                    <div class="image-container">
                        <img src="/static/image/enemie.png" alt="Enemies">
                        <div class="image-overlay"></div>
                    </div>
                </a>
            </div>
            <div class="album-card">
                <a href="/weapons">
                    <h3>Weapons</h3>
                    <div class="image-container">
                        <img src="/static/image/weapon.avif" alt="Weapons">
                        <div class="image-overlay"></div>
                    </div>
                </a>
            </div>
            <div class="album-card">
                <a href="/foods">
                    <h3>Food</h3>
                    <div class="image-container">
                        <img src="/static/image/food.avif" alt="Food">
                        <div class="image-overlay"></div>
                    </div>
                </a>
            </div>
            <div class="album-card">
                <a href="/potions">
                    <h3>Potions</h3>
                    <div class="image-container">
                        <img src="/static/image/GenshinImpactPotions.avif" alt="Potions">
                        <div class="image-overlay"></div>
                    </div>
                </a>
            </div>
        </div>
    </div>
    {{template "footer"}}
</body>
</html>
{{end}}