{{define "data"}}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Loading</title>
    <link rel="icon" href="/static/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="/static/css/loading.css">
    <script>
        function updateProgress() {
            fetch('/progress')
                .then(response => response.json())
                .then(data => {
                    const progressBar = document.getElementById('progress-bar');
                    progressBar.value = data.progress;
                    if (data.progress >= 100) {
                        window.location.href = '/home';
                    } else {
                        setTimeout(updateProgress, 500);
                    }
                });
        }
        window.onload = updateProgress;
    </script>
</head>
<body>
    <h1 class="gradient-text">Loading...</h1>
    <div class="progress-container">
      <progress id="progress-bar" max="100" value="0"></progress>
    </div>
  </body>
</html>
{{end}}