{{define "data"}}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Loading</title>
    <link rel="icon" href="/static/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="/static/css/loading.css">
    <script src="/static/js/loading.js"></script>
</head>
<body>
    <div class="progress-container">
      <progress id="progress-bar" max="100" value="0"></progress>
    </div>
    <h1 class="gradient-text">Loading...</h1>
</body>
</html>
{{end}}