{{define "login"}}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gensin Login</title>
    <link rel="stylesheet" href="/static/css/login.css">
    <link rel="icon" href="/static/favicon.ico" type="image/x-icon">
</head>
<body>
    <header class="header">
        {{if eq .IsLogin true}}
            {{template "navbar2"}}
        {{else}}
            {{template "navbar1"}}
        {{end}}
    </header>
    <div class="container" id="container">
        <div class="form-container sign-up-container">
            <form action="/login/newregister" method="post">
                <span>Sign up</span>
                <div class="infield">
                    <label for="NewRegisterEmail"></label>
                    <input type="email" placeholder="Your email" name="NewRegisterEmail" id="NewRegisterEmail" required/>
                </div>
                <div class="infield">
                    <label for="NewRegisterPassword"></label>
                    <input type="password" placeholder="Write a password" name="NewRegisterPassword" id="NewRegisterPassword" required/>
                </div>
                <div class="infield">
                    <label for="NewRegisterRetypePassword"></label>
                    <input type="password" placeholder="Re-enter the password" name="NewRegisterRetypePassword" id="NewRegisterRetypePassword" required/>
                </div>
                {{if eq .IsWrongRegister true}}
                    <span class="wrong-password">Password is not the same or email is already exists</span>
                {{end}}
                <button type="submit">Sign Up</button>
            </form>
        </div>
        <div class="form-container sign-in-container">
            <form action="/login/register" method="post">
                <span>Login</span>
                <div class="infield">
                    <label for="RegisterEmail"></label>
                    <input type="email" placeholder="Your email" name="RegisterEmail" id="RegisterEmail" required/>
                </div>
                <div class="infield">
                    <label for="RegisterPassword"></label>
                    <input type="password" placeholder="Your password" name="RegisterPassword" id="RegisterPassword" required/>
                </div>
                {{if eq .IsWrongLogin true}}
                    <span class="wrong-password">Wrong email or password</span>
                {{end}}
                <a href="/login/password-forgot" class="forgot">Forgot your password ?</a>
                <button>Sign In</button>
            </form>
        </div>
        <div class="overlay-container" id="overlayCon">
            <div class="overlay">
                <div class="overlay-panel overlay-left">
                    <h1>Welcome Back!</h1>
                    <p>To access your collection, log in with your email</p>
                    <button>Sign In</button>
                </div>
                <div class="overlay-panel overlay-right">
                    <h1>Hello, Friend!</h1>
                    <p>Enter your personal details and start to create your collection</p>
                    <button>Sign Up</button>
                </div>
            </div>
            <button id="overlayBtn"></button>
        </div>
    </div>
    <script src="/static/js/login.js"></script>
</body>
</html>
{{end}}