{{define "passwordforgot"}}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="/static/css/forgotPassword.css">
    <link rel="icon" href="/static/favicon.ico" type="image/x-icon">
    <title>Password forgot</title>
</head>
<body>
    <header class="header">
        {{if eq .IsLogin true}}
            {{template "navbar2"}}
        {{else}}
            {{template "navbar1"}}
        {{end}}
    </header>
    <div class="container">
        <form action="/login/password-forgot/form" method="post">
            <h1>Enter your email and your new password</h1>
            <label for="email"></label>
            <input type="email" id="email" name="email" placeholder="Your email" required>
            <label for="newpassword"></label>
            <input type="password" id="newpassword" name="newpassword" placeholder="Your new password" required>
            <label for="newpassword2"></label>
            <input type="password" name="newpassword2" id="newpassword2" placeholder="Re-enter the password" required>
            <button type="submit">Submit</button>
        </form>
    </div>
    {{template "footer"}}
</body>
</html>
{{end}}