{{define "ResultOfTheSearch"}}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="/static/css/searchResult.css">
    <link rel="icon" href="/static/favicon.ico" type="image/x-icon">
    <title>Genshin Impact - Search Results</title>
</head>
<body>
    <header class="header">
        {{if eq .IsLogin true}}
            {{template "navbar2"}}
        {{else}}
            {{template "navbar1"}}
        {{end}}
    </header>

    <h1 class="page-title">Search Results</h1>

    {{if len .Data}}
        <div class="search-results">
            {{range .Data}}
                <div class="result-card">
                    <h2 class="result-name">{{.Name}}</h2>
                    <div class="result-link">
                        <div class="image-container">
                            <img src="{{.Image}}" alt="Image of {{.Name}}">
                        </div>
                        <a href="{{.Link}}">View Details</a>
                    </div>
                </div>
            {{end}}
        </div>
        <div class="switch-Page">
            {{if gt .CurrentPage 1}}
            <a href="?query={{.Query}}&page={{sub .CurrentPage 1}}">Previous</a>
            {{end}}
            <span>Page {{.CurrentPage}} of {{.TotalPages}}</span>
            {{if lt .CurrentPage .TotalPages}}
            <a href="?query={{.Query}}&page={{add .CurrentPage 1}}">Next</a>
            {{end}}
        </div>
    {{else}}
        <div class="no-results">
            <h2 class="no-results-message">No Results Found</h2>
            <p class="no-results-description">Try searching with different keywords</p>
        </div>
    {{end}}
</body>
</html>
{{end}}