{{define "navbar1"}}
    <a href="/home"><img src="/static/image/logo.webp"></a>
    <nav class="navbar">
        <form class="search-bar" action="/search" method="GET">
            <input type="text" name="query" placeholder="Search...">
            <button type="submit">🔍</button>
        </form>
        <div class="nav-links">
            <a href="/collections">Collections</a>
            <a href="/login">Connexion</a>
        </div>
    </nav>
{{end}}
{{define "navbar2"}}
    <a href="/home"><img src="/static/image/logo.webp"></a>
    <nav class="navbar">
        <form class="search-bar" action="/search" method="GET">
            <input type="text" name="query" placeholder="Search...">
            <button type="submit">🔍</button>
        </form>
        <div class="nav-links">
            <a href="/collections">Collections</a>
            <a href="/profil">Profil</a>
        </div>
    </nav>
{{end}}
{{define "footer"}}
<footer>
    <div style="width: 100px;"></div>
    <p class="copyright">&copy; 2025 Developed by <strong>Adrien Lecomte</strong>. All rights reserved.</p>
    <p><a href="/about">About Me</a></p>
</footer>
{{end}}